body {
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    background-color: #f8fafc;
}

.navbar .nav-link.active {
    font-weight: 600;
}

.container {
    max-width: 1100px;
}

a {
    text-decoration: none;
}

.likely-fake-row,
.likely-fake-row>td,
.likely-fake-row>th {
    background-color: #ed8b8b !important;
}

#mysqlProgress {
    max-width: 400px;
}

#mysqlLog {
    max-width: 400px;
}
